{% extends "layout.html" %}
{% block body %}
  <div class="pure-g">
    <div class="pure-u-1-2">
      <h3>{{ title }}</h3>
    </div>
    <div class="pure-u-1-2">
      <form class="pure-form" action="{{ request.base_url }}" method="GET">
        <fieldset>
          <label for="sortings">Sort By</label>
          <select id="sortings" name="sort_by">
            {% for sorting in sortings %}
              <option>{{ sorting }}</option>
            {% endfor %}
          </select>

          <button type="submit" class="pure-button pure-button-primary">Go</button>
        </fieldset>
      </form>
      <p>
        Time for last sort: <strong>{{ ex_time }}</strong> seconds
      </p>
    </div>
  </div>

  <table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
      {% for header in headers %}
        <th>{{ header}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr>
        {% for cell in row %}
          <td>{{ cell }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
