{% extends "layout.html" %}
{% block body %}
  <div class="pure-g">
    <div class="pure-u-1-2">
      <h3>{{ title }}</h3>
    </div>
    <div class="pure-u-1-2">
      <p>
        Sort by:
        {% for sorting in sortings %}
          <a class="pure-button" href="{{ request.base_url }}?sort_by={{ sorting }}">{{ sorting }}</a>
        {% endfor %}
      </p>
    </div>
  </div>

  <table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
      {% for header in headers %}
        <th>{{ header}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr>
        {% for cell in row %}
          <td>{{ cell }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
